<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="E-visa Burundi">
    
    <meta name="keywords" content="e-visa Burundi, procédure visa Burundi,formulaire visa Burundi, visa Burundi, evisa Burundi, CGM Burundi, commissariat général des migrations Burundi, visa étudiant Burundi ">
  
    <meta name="author" content="Mediabox Burundi">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="Mediabox Burundi, https://mediabox.bi/">
      <!-- site metas -->
      <title>Liste noire | Commissariat Général des Migrations</title>

      <!-- site icon -->
      <link rel="icon" href="images/favicon-16x16.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css" />

      <!-- site css -->
      <link rel="stylesheet" href="style.css" />
      <!-- responsive css --> 

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
       <!-- font awesome --> 
      <link rel="stylesheet" href="css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav style=" background-image: url('images/pattern_h.png')" id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/Blason_du_Burundi.png" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_info">
                           <h6>Système de Gestion des Visas (SGV)</h6>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>MENU</h4>
                  <ul class="list-unstyled components">
                     <li><a href="index.html"><i class="fa fa-list orange_color"></i> <span>Demandes de visa</span></a></li>
                     
                      <li><a href="manifeste.html"><i class="fa fa-plane orange_color"></i> <span>Manifestes</span></a></li>
                     
                      <li  class="active">
                        <a href="#voyageur" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-user orange_color"></i> <span>Voyageurs</span></a>
                        <ul class="collapse list-unstyled" id="voyageur">
                           <li><a href="arrivant.html"><span>Voyageurs arrivants</span></a></li>
                           <li><a href="sortant.html"><span>Voyageurs sortants</span></a></li>
                           <li><a href="depassement.html"><span>Séjours dépassés</span></a></li>
                           <li><a href="#"><span>Liste noire</span></a></li>
                        </ul>
                     </li>
                      
                     <li>
                        <a href="#reporting" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-bar-chart orange_color"></i> <span>Reporting</span></a>
                        <ul class="collapse list-unstyled" id="reporting">
                           <li><a href="demande.html"><span>Demandes</span></a></li>
                           <li><a href="paiement.html"><span>Paiements</span></a></li>
                        </ul>
                     </li>
                      
                     <li><a href="calendar.html"><i class="fa fa-calendar orange_color"></i> <span>Départs</span></a></li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
             
             
             
             
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="index.html"><img class="img-responsive" src="images/logo/blason2.png" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="name_user">Jean Ndikumana</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">Mon Profil</a>
                                       <a class="dropdown-item" href="settings.html">Paramètress</a>
                                       <a class="dropdown-item" href="#"><span>Déconnexion</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
                
                
                
                
              <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>LISTE NOIRE</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column1">
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Nombre de voyageurs sur liste noire (2)</h2>
                                 </div>
                              </div>
                              <div class="full price_table padding_infor_info">
                                 <h4>Ajouter un individu à la liste noire</h4>
                                  <div class="row mb-4">
                                      <div class="form-group col-lg-12">
                                               <button data-toggle="modal" data-target="#myModal" class="main_bt">Ajouter</button>
                                            </div>
                                  </div>
                                  
                                  
                                  <br>
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <h4>Liste des voyageurs sur liste noire</h4>
                                       <div class="table-responsive-sm">
                                            <table class="table table-sm table-hover table-striped table-responsive" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true">
  <thead style="background: #15283c" class="font-weight-bold text-nowrap">
    <tr>
      <th class="th-sm  text-white">Nom
      </th>
      <th class="th-sm  text-white">Prénom
      </th>
      <th class="th-sm  text-white">Date de naissance
      </th>
      <th class="th-sm  text-white">Pays de naissance
      </th>
        <th class="th-sm  text-white">Motif
        </th>
        <th class="th-sm  text-white">Statut
        </th>
        <th class="th-sm  text-white">Date d'insertion
        </th>
        <th class="th-sm  text-white">Service
        </th>
        <th class="th-sm  text-white">Actions
        </th>
    </tr>
  </thead>
                                                
  <tbody class="text-nowrap">    
    <tr>
      <td id="name" class="text-dark">Dubois</td>
      <td id="surname" class="text-dark">Jean</td>
      <td id="dob" class="text-dark">01-02-1980</td>
      <td id="country" class="text-dark">Chypre</td>
      <td id="reason" class="text-dark">Suspect</td>
      <td id="status" class="text-dark"><span class="mode mode_off">Non autorisé</span></td>
      <td id="date" class="text-dark">01-01-2022</td>
      <td id="service" class="text-dark">SNR</td>
      <td><span data-toggle="tooltip" data-placement="top" title="Détails et historique" class="actionCust"><a href="#"><i class="fa fa-info-circle"></i></a></span>
        <span data-toggle="tooltip" data-placement="top" title="Modifier" class="actionCust"><a href="#"><i class="fa fa-pencil-square-o"></i></a></span>
        </td>
      </tr>
      <tr>
      <td id="name" class="text-dark">Mutua</td>
      <td id="surname" class="text-dark">Alfred</td>
      <td id="dob" class="text-dark">01-02-1980</td>
      <td id="country" class="text-dark">Kenya</td>
      <td id="reason" class="text-dark">Suspect</td>
        <td id="status" class="text-dark"><span class="mode mode_on">Autorisé</span></td>
      <td id="date" class="text-dark">01-01-2022</td>
      <td id="service" class="text-dark">SNR</td>
      <td><span data-toggle="tooltip" data-placement="top" title="Détails et historique" class="actionCust"><a href="#"><i class="fa fa-info-circle"></i></a></span>
        <span data-toggle="tooltip" data-placement="top" title="Modifier" class="actionCust"><a href="#"><i class="fa fa-pencil-square-o"></i></a></span>
        </td>
      </tr>
  </tbody>
 
</table>   
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                     <!-- footer -->
                     <div class="container-fluid">
                        <div class="row">
                           <div class="footer">
                               <p id="copyright">Copyright &copy; <script> document.write(new Date().getFullYear())</script> - Conçu et développé par <a href="mediabox.bi">Mediabox SA Burundi <img alt="Mediabox Logo" width="30px" src="images/mediabox_logo.png"></a></p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end dashboard inner -->
            </div>
             </div></div></div>
       
       
       
   <!-- Modal start -->
<div tabindex="-1" class="modal pmd-modal fade" id="myModal" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			
            <div class="modal-header text-center">
            <div class="pmd-card-icon modal-title w-100">
                <img width="100px" src="images/ban.png"><br><br>
                <h4>Politiques d'utilisation</h4>
				</div>
            </div>
            
            <div class="modal-body">
                                  <div class="row mb-4">
                                  <div class="form-group col-lg-3">
                                                <label style="font-weight: 900; color:#454545">Code de suivi</label>
                                                <input type="text" class="form-control" placeholder="code de suivi">
                                            </div>
                                      <div class="form-group col-lg-3">
                                                <label style="font-weight: 900; color:#454545">Nom</label>
                                                <input type="text" class="form-control" placeholder="Nom">
                                            </div>
                                      <div class="form-group col-lg-3">
                                                <label style="font-weight: 900; color:#454545">Prénom</label>
                                                <input type="text" class="form-control" placeholder="Prénom">
                                            </div>
                                      <div class="form-group col-lg-3">
                                                <label style="font-weight: 900; color:#454545">E-mail</label>
                                                <input type="emai" class="form-control" placeholder="E-mail">
                                            </div>
                                      <div class="form-group col-lg-3">
                                                <label style="font-weight: 900; color:#454545">Téléphone</label>
                                                <input type="text" class="form-control" placeholder="Téléphone">
                                            </div>
                                      <div class="form-group col-lg-3">
                                                <label style="font-weight: 900; color:#454545">Numéro du document</label>
                                                <input type="text" class="form-control" placeholder="Numéro du document">
                                            </div>
                                      
                                <div class="form-group col-lg-3">
                                                <label style="font-weight: 900; color:#454545">Avis</label>
                                                <select class="form-control">
                                                    <option>Non traité</option>
                                                <option>Favorable</option>
                                                </select>
                                  </div>
         
			</div>
			<div class="modal-footer justify-content-center">
				<button class="main_bt float-right">Ajouter</button>
                <button data-dismiss="modal" class="main_bt float-right" href="#">Fermer</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal end -->
       
       
       
       
       
       
       
       
       
       
       
       
       <script>
$(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>
       
       
       
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.15.5/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="js/bootstrap.min.js"></script>
                
          
      <!-- wow animation -->
      <script src="js/animate.js"></script>
      <!-- select country -->
      <script src="js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="js/custom.js"></script>

       
   </body>
</html>