<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="E-visa Burundi">
    
    <meta name="keywords" content="e-visa Burundi, procédure visa Burundi,formulaire visa Burundi, visa Burundi, evisa Burundi, CGM Burundi, commissariat général des migrations Burundi, visa étudiant Burundi ">
  
    <meta name="author" content="Mediabox Burundi">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="Mediabox Burundi, https://mediabox.bi/">
      <!-- site metas -->
      <title>Dates de départ | Commissariat Général des Migrations</title>

      <!-- site icon -->
      <link rel="icon" href="images/favicon-16x16.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css" />

      <!-- site css -->
      <link rel="stylesheet" href="style.css" />
      <!-- responsive css --> 

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
       <!-- font awesome --> 
      <link rel="stylesheet" href="css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="inner_page invoice_page">
      <div class="full_container">
         <div class="inner_container">
             <!-- Sidebar  -->
            <nav style=" background-image: url('images/pattern_h.png')" id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/Blason_du_Burundi.png" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_info">
                           <h6>Système de Gestion des Visas (SGV)</h6>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>MENU</h4>
                  <ul class="list-unstyled components">
                     <li><a href="index.html"><i class="fa fa-list orange_color"></i> <span>Demandes de visa</span></a></li>
                     
                      <li><a href="manifeste.html"><i class="fa fa-plane orange_color"></i> <span>Manifestes</span></a></li>
                     
                      <li>
                        <a href="#voyageur" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-user orange_color"></i> <span>Voyageurs</span></a>
                        <ul class="collapse list-unstyled" id="voyageur">
                           <li><a href="arrivant.html"><span>Voyageurs arrivants</span></a></li>
                           <li><a href="sortant.html"><span>Voyageurs sortants</span></a></li>
                           <li><a href="depassement.html"><span>Séjours dépassés</span></a></li>
                           <li><a href="blacklist.html"><span>Liste noire</span></a></li>
                        </ul>
                     </li>
                            
                     <li>
                        <a href="#reporting" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-bar-chart orange_color"></i> <span>Reporting</span></a>
                        <ul class="collapse list-unstyled" id="reporting">
                           <li><a href="demande.html"><span>Demandes</span></a></li>
                           <li><a href="paiement.html"><span>Paiements</span></a></li>
                        </ul>
                     </li>
                      
                     <li class="active"><a href="#"><i class="fa fa-calendar orange_color"></i> <span>Départs</span></a></li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="index.html"><img class="img-responsive" src="images/logo/blason2.png" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="name_user">Jean Ndikumana</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">Mon Profil</a>
                                       <a class="dropdown-item" href="settings.html">Paramètress</a>
                                       <a class="dropdown-item" href="#"><span>Déconnexion</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>DEPARTS</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row">
                        <!-- invoice section -->
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2><i class="fa fa-calendar" aria-hidden="true"></i> Nombre de départs (2)</h2>
                                 </div>
                              </div>
                              <div class="full padding_infor_info">
                                 <div class="invoice_inner">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="white_shd full margin_bottom_30">
                                             <div class="full graph_head">
                                                <div class="heading1 margin_0">
                                                   <h2>Calendrier</h2>
                                                </div>
                                             </div>
                                             <div class="full progress_bar_inner">
                                                <div class="row">
                                                   <div class="col-md-12">
                                                      <div class="full">
                                                         <div class="ui calendar" id="example14"></div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                  </div>
                   <!-- footer -->
                     <div class="container-fluid">
                        <div class="row">
                           <div class="footer">
                               <p id="copyright">Copyright &copy; <script> document.write(new Date().getFullYear())</script> - Conçu et développé par <a href="mediabox.bi">Mediabox SA Burundi <img alt="Mediabox Logo" width="30px" src="images/mediabox_logo.png"></a></p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end dashboard inner -->
            </div>
         </div>
         <!-- model popup -->
         <!-- The Modal -->
         <div class="modal fade" id="myModal">
            <div class="modal-dialog">
               <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                     <h4 class="modal-title">Modal Heading</h4>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                     Modal body..
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- end model popup -->
      </div>
      <!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="js/animate.js"></script>
      <!-- select country -->
      <script src="js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- fancy box js -->
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/jquery.fancybox.min.js"></script>
      <!-- custom js -->
      <script src="js/custom.js"></script>
      <!-- calendar file css -->    
      <script src="js/semantic.min.js"></script>
   </body>
</html>