<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="E-visa Burundi">
    
    <meta name="keywords" content="e-visa Burundi, procédure visa Burundi,formulaire visa Burundi, visa Burundi, evisa Burundi, CGM Burundi, commissariat général des migrations Burundi, visa étudiant Burundi ">
  
    <meta name="author" content="Mediabox Burundi">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="Mediabox Burundi, https://mediabox.bi/">
      <!-- site metas -->
      <title>Connexion | Commissariat Général des Migrations</title>

      <!-- site icon -->
      <link rel="icon" href="images/favicon-16x16.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css" />

      <!-- site css -->
      <link rel="stylesheet" href="style.css" />
      <!-- responsive css --> 

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
       <!-- font awesome --> 
      <link rel="stylesheet" href="css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="logo_login">
                     <div class="center">
                        <img width="210" src="images/logo/blason2.png" alt="#" />
                     </div>
                  </div>
                  <div class="login_form">
                     
                      <h4 class="text-center">Système de Gestion des Visas (SGV) </h4><br>
                      <form>
                        <fieldset>
                           <div class="form-group col-lg-12">
                                                <label style="font-weight: 900; color:#454545">Adresse e-mail</label>
                                                <input type="email" class="form-control" placeholder="Adresse e-mail">
                                            </div>
                                      <div class="form-group col-lg-12">
                                                <label style="font-weight: 900; color:#454545">Mot de passe</label>
                                                <input type="password" class="form-control" placeholder="Mot de passe">
                                            </div>
                           <div class="field">
                              <a class="forgot" href="">Mot de passe oublié?</a>
                           </div>
                           <div class="field margin_0">
                              <label class="label_field hidden">hidden label</label>
                              <button class="main_bt">Se connecter</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="js/animate.js"></script>
      <!-- select country -->
      <script src="js/bootstrap-select.js"></script>
      <!-- nice scrollbar -->
      <script src="js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="js/custom.js"></script>
   </body>
</html>